body {
    background-color: #F6F6F6;
    text-align: center;
    font-family: 'Merriweather', serif;
}

img {
    width: 30%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 3%;
}

.skill-img{
    width: 30%;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
}

#layout {
    padding-top: 9%;
    padding-bottom: 3%;

}
h1 {
    color: #FFC7C7;
    font-size: 350%;
    font-family: 'Sacramento', cursive;
}
h2 {
    font-size: 300%;
    color: #f169698a;
    font-family: 'Montserrat', sans-serif;
}
h3 {
    font-size: 200%;
    color: #8785A2;
    font-family: 'Montserrat', sans-serif;
}
a {
    color: #8785A2;
}
p {
    font-size: 115%;
    color: #794141;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
#top-container{
    position: relative;
    padding-top: 2%;
}
.middle-container {
    background-color: white;
    padding-bottom: 3%;
}
.profile{
    width: 50%;
    margin: auto;
}
#cloud-top {
    position: absolute;
    right: 70%;
    top: 20%;
    margin-top: 0;
    margin-bottom: 0;
    width: 15%;
    height: auto;
}
#cloud-bottom {
    position: absolute;
    right: 20%;
    top: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 15%;
    height: auto;
}

#apple-tree{
    width: 28%;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
}
hr{
    color: #fad3d3;
    border-style: dotted;
    margin-top: 4%;
    margin-bottom: 4%;
    width: 5%;
    border-width: 1rem;
    border-style: none none dotted;
}

.skill-row{
    width: 50%;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 1%;
    text-align: left;
    line-height: 2;
}

.img-left {
    float: left;
    margin-right: 4%;
    margin-top: 0;
    margin-bottom: 0;
}
.img-right {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
}
.bottom-container{
    padding-top:3%;
    background-color: #fad3d3;
}
#signature {
    margin-top: 2%;
    padding-bottom: 3%;
    color: white;
}

.c-item{
    margin-top: 2%;
    margin-bottom: 2%;
}

.contact-me{
    margin-bottom: 2%;
}
.footer-link{
    margin-right: 1%;
    margin-left: 1%;
    text-decoration: none;
}
.footer-link:hover{
    color: white;
}
#hello{
    margin-top: 2%;
    margin-bottom: 7%;
}
.btn {
    background: #fad3d3;
    background-image: -webkit-linear-gradient(top, #fad3d3, #FFC7C7);
    background-image: -moz-linear-gradient(top, #fad3d3, #FFC7C7);
    background-image: -ms-linear-gradient(top, #fad3d3, #FFC7C7);
    background-image: -o-linear-gradient(top, #fad3d3, #FFC7C7);
    background-image: linear-gradient(to bottom, #fad3d3, #FFC7C7);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #FFC7C7;
    background-image: -webkit-linear-gradient(top, #FFC7C7, #f07171);
    background-image: -moz-linear-gradient(top, #FFC7C7, #f07171);
    background-image: -ms-linear-gradient(top, #FFC7C7, #f07171);
    background-image: -o-linear-gradient(top, #FFC7C7, #f07171);
    background-image: linear-gradient(to bottom, #FFC7C7, #f07171);
    text-decoration: none;
  }